@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: local('./Karla/Karla-Bold.ttf'), local('Karla-Bold.woff2'),
       format('woff2'), format('woff'); 
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    font-family: Karla, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.mycontainer{
  padding: 0px 10px;
  margin: 5px 20px;
  /* background-color: green; */

}


#socialMedia{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: bolder;
  padding: 1px;
  margin: 0px;
  /* background-color: red; */
}
#socialMedia p{
  margin: 0px;
  padding: 0px;
  font-size: 1.5em;
}
#socialMedia div{
  margin: 0px;
  padding: 0px;
}


.icon{
  width: 2em;
  height: 2em;
  margin: 10px;
  color: white;
  background-color: white;
}

.font-weight-bold{
  font-size: 2.0em;
  font-family: 'Karla';
}

.nav-pills-custom .nav-link {
  color: black;
  background: #fff;
  position: relative;
}
.para{
  font-size: 1.75em;
  margin: 0px;
  padding: 0px;
}
h2{
  font-size: 3.5em;
  text-decoration: underline;
  text-transform: uppercase;
}
.details{
  font-weight: bolder;
  font-size: 1.5em;
}
.form-group{
  font-weight: bold;
  color: black;
  font-size: 1.2em;
  padding: 0px;
  
}
footer{
  display: none;
}
.nav-pills-custom .nav-link.active {
  color: black;
  background: rgb(129, 163, 238);
}
.nav-pills-custom .nav-link:hover{
  background-color: lightgreen;
}
#profilepic{
  margin: 0px 40px;
}
.internId{
  font-weight: bold;
  color: white;
  font-size: 1.5em;
}

.interest{
  font-size: 1.5em;
  text-align: left;
}
.para-interest{
  font-size: 1.5em;
  font-weight: 600;
}
.fade{
  transition-duration: 0s;
}
/* Add indicator arrow for the active tab */
@media (min-width: 768px) {
  .nav-pills-custom .nav-link::before {
      content: '';
      display: block;
      border-top: 8px solid transparent;
      border-left: 10px solid #fff;
      border-bottom: 8px solid transparent;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      opacity: 0;
  }
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}

@media (min-width:768px) and (max-width:1096px){
  .internId{
    font-weight: bold;
    color: white;
    font-size: 1.0em;
  }

  .nav-pills-custom .nav-link {
    width: 98%;
  }

  .font-weight-bold{
    font-size: 1.5em;
  }
  #profilepic{
    margin: 0px 20px;
  }

  #pageLogo{
    width: 50%;
  }
}

@media (max-width: 766px){
  #profilepic{
    margin: 0px 70px;
  }

  #pageLogo{
    width: 50%;
  }
  #gbosaImage{
    width: 100%;
  }

  #socialMedia{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    padding: 1px;
    margin: 0px;
  }
  #socialMedia p{
    margin: 0px;
    padding: 0px;
    font-size: 1.5em;
  }
  #socialMedia div{
    margin: 0px;
    padding: 0px;
  }
  
  
  .icon{
    width: 1em;
    height: 1em;
    margin: 5px;
    color: white;
    background-color: white;
  }
}